*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Poppins, sans-serif;
  font-weight: 400;
}
a{text-decoration: none;}
ul{list-style: none;}
.login-wrapper{
  height: 100vh;
  display: flex;
}
.left{
  width: 45%;
}
.right{
  width: 55%;
}
.left{
  padding: 2rem 4rem;
}
.left .logo{
  margin-bottom: 2rem;
}
.left .welcome h2{
  font-size: 18px;
  font-weight: 700;
}
.left .welcome{
  margin-bottom: 1.5rem;
}
.left .welcome img{
  width: 22px;
}
.left .welcome p{
  font-size: 12px;
  margin-top: 0.35rem;
}

.left form{
  margin: 0.5rem 0;
}
.left form .form-group{
  position: relative;
}
.left form input{
  display: inline-block;
  padding: 1.2rem 0.5rem;
  margin: 0.75rem 0;
  width: 100%;
  height: 60px;
  border: 1px solid #c4c3c3;
  border-radius: 0.35rem;
}
.left form label{
  position: absolute;
  left: 0.5rem;
  top: 1.5rem;
  font-size: 12px;
}
.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.form-group.d-flex{
  margin-top: 1rem;
}
.d-flex a{
  font-size: 12px;
  padding-bottom: 0.5rem;
  color: #5f68ea;
  position: relative;
}
.d-flex a:before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #5f68ea;
  transition: all 0.25s linear;
}
.d-flex a:hover:before{
  width: 40px;
}
.d-flex button{
  background-color: #000;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.35rem;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
}
.d-flex button i{
  color: greenyellow;
  padding-left: 0.35rem;
  position: relative;
  transition: all 0.25s linear;
}
.d-flex button:hover i{
  transform: translateX(10px);
}
.social{
  text-align: center;
  margin-top: 2rem;
}
.social a{
  border: 1px solid #c4c3c3;
  height: 50px;
  width: 50px;
  margin: 0.25rem 0.5rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.social p small{
  display: block;
  font-size: 12px;
  margin-top: 1rem;
}


.right{
  background: url(assets/ArtBoardBackground.png) no-repeat scroll center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.right .skill-up{
  text-align: center;
  margin-bottom: 1rem;
}
.right .skill-up h1{  
  font-size: 30px;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.right .skill-up h3{
  font-size: 16px;
  letter-spacing: 1;
  font-weight: 700;
}
.right img{
  width: 60%;
}



@media all and (max-width:1080px){
  .right{display: none;}
  .left{width: 100%; text-align: center;}
}